.e1_2  { 
	overflow:hidden;
}
.e1_2 { 
	background-color:rgba(46.484380066394806, 159.375, 118.73436436057091, 1);
	width:1440px;
	height:1997px;
	position:absolute;
}
.e1_11 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1423px;
	height:94px;
	position:absolute;
	left:9px;
	top:49px;
}
.e2_27 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1423px;
	height:94px;
	position:absolute;
	left:9px;
	top:49px;
}
.e1_13 { 
	color:rgba(0, 0, 0, 1);
	width:149px;
	height:46px;
	position:absolute;
	left:162px;
	top:73px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e2_28 { 
	color:rgba(0, 0, 0, 1);
	width:149px;
	height:46px;
	position:absolute;
	left:162px;
	top:73px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e1_15 { 
	color:rgba(0, 0, 0, 1);
	width:211px;
	height:46px;
	position:absolute;
	left:590px;
	top:73px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e2_29 { 
	color:rgba(0, 0, 0, 1);
	width:211px;
	height:46px;
	position:absolute;
	left:590px;
	top:73px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e1_19 { 
	color:rgba(0, 0, 0, 1);
	width:141px;
	height:44px;
	position:absolute;
	left:1080px;
	top:73px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e2_30 { 
	color:rgba(0, 0, 0, 1);
	width:141px;
	height:44px;
	position:absolute;
	left:1080px;
	top:73px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e1_21 { 
	width:557px;
	height:517px;
	position:absolute;
	left:89px;
	top:286px;
	background-image:url(images/t3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_31 { 
	width:557px;
	height:517px;
	position:absolute;
	left:89px;
	top:286px;
	background-image:url(images/t3_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_22 { 
	color:rgba(255, 255, 255, 1);
	width:700px;
	height:393px;
	position:absolute;
	left:720px;
	top:565px;
	font-family:Inter;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
}
.e2_32 { 
	color:rgba(255, 255, 255, 1);
	width:700px;
	height:393px;
	position:absolute;
	left:720px;
	top:565px;
	font-family:Inter;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
}
.e2_25 { 
	width:627px;
	height:383px;
	position:absolute;
	left:746px;
	top:1080px;
	background-image:url(images/auto1024x1024_183f5ecde3be95ed2040de6f38bababb_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_33 { 
	width:627px;
	height:383px;
	position:absolute;
	left:746px;
	top:1080px;
	background-image:url(images/auto1024x1024_183f5ecde3be95ed2040de6f38bababb_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_26 { 
	color:rgba(255, 255, 255, 1);
	width:423px;
	height:260px;
	position:absolute;
	left:197px;
	top:1430px;
	font-family:Inter;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
}
.e2_34 { 
	color:rgba(255, 255, 255, 1);
	width:423px;
	height:260px;
	position:absolute;
	left:197px;
	top:1430px;
	font-family:Inter;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
}
.e2_46 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1379px;
	height:130px;
	position:absolute;
	left:41px;
	top:1843px;
}
.e2_69 { 
	width:113px;
	height:122px;
	position:absolute;
	left:720px;
	top:1851px;
	background-image:url(images/facebook_icon_137647_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_68 { 
	width:130px;
	height:102px;
	position:absolute;
	left:408px;
	top:1861px;
	background-image:url(images/icone_instagram_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_73 { 
	width:105px;
	height:105px;
	position:absolute;
	left:1060px;
	top:1861px;
	background-image:url(images/download_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
